/* ==========================================================================
   Custom styles
   ========================================================================== */


@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/eot/FiraSans-Regular.eot');
    src: local('Fira Sans Regular'),
         url('../fonts/eot/FiraSans-Regular.eot') format('embedded-opentype'),
         url('../fonts/woff/FiraSans-Regular.woff') format('woff'),
         url('../fonts/ttf/FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'Fira Sans Medium';
    src: url('../fonts/eot/FiraSans-Medium.eot');
    src: local('Fira Sans Medium'),
         url('../fonts/eot/FiraSans-Medium.eot') format('embedded-opentype'),
         url('../fonts/woff/FiraSans-Medium.woff') format('woff'),
         url('../fonts/ttf/FiraSans-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Mono';
    src: url('../fonts/eot/FiraMono-Regular.eot');
    src: local('Fira Mono'),
         url('../fonts/eot/FiraMono-Regular.eot') format('embedded-opentype'),
         url('../fonts/woff/FiraMono-Regular.woff') format('woff'),
         url('../fonts/ttf/FiraMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #fffff8;
    color: #333;
}
a { color: #c00; }

.navbar-header a.navbar-brand,
.navbar-nav a {
	color: #fffff8;
    font-family: 'Fira Sans', Geneva, Tahoma, Helvetica, Arial;
	text-transform: uppercase;
    font-weight: 500;
	font-size: .7em;
	letter-spacing: .25em;
}

h1, h2, h3, h4, h5 {
    margin-top: 1.5em;
    line-height: 1.25em;
    font-family: 'Fira Sans', Geneva, Tahoma, Helvetica, Arial;
    font-weight: 400;
}
.btn {
    font-family: 'Fira Sans', Geneva, Tahoma, Helvetica, Arial;
    font-weight: 500;
}

.boilerplate {
    font: 1.25em/1.5em Georgia, Times New Roman, Times, serif;
}
.boilerplate p { margin: 1em 0; }
.content li { margin: .5em 0; }





/* home */

.wallpaper {
  background: url(../img/satbg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.front { 
    margin-top: 4em;
    margin-bottom: 1em;
    background: none;
    padding: 10px;
}

.front p { 
    background-color: #fffff8;
    font: 2.5em/1.2em 'Fira Mono', Geneva, Tahoma, Helvetica, Arial;
    font-weight: 400;
    padding: 1em;
}

.front-box:hover {
    background-color: #fa0;
    -webkit-transition: background-color 1s, -webkit-transform 1s;
    transition: background-color 1s, transform 1s;
}
.front-box {
    background-color: #fe9;
    background-clip: padding-box;
    border: 10px solid transparent;
    -webkit-transition: background-color 1s, color 2s, -webkit-transform 1s;
    transition: background-color 1s, color 2s, transform 1s;
}
.front-box h2 {
    margin-top: .25em;
}



a .front-box { color: #000; }
a:hover .front-box {
	text-decoration: none;
	color: #600;
}
.front-box .btn { background-color: #fc0; }
#mc_embed_signup label { display: none; }


.top-buffer { padding: 1em; }


.lower {
    margin-top: 2em;
    background: none;
    padding: 10px;
}
.lower a {
    background-color: #fc0;
	display: block;
    padding: 1em;
    font: 1.5em/1.2em 'Fira Sans', Geneva, Tahoma, Helvetica, Arial;
    font-weight: 400;
    text-align:center;
    color: #000;
}
.lower a:hover {
    background-color: #f90;
    -webkit-transition: background-color 1s, -webkit-transform 1s;
    transition: background-color 1s, transform 1s;
}



/* resources page */

body.resources h2,
body.resources h3 {
    border-top: 3px solid #eee;
    padding-top: .5em;
    margin-top: 2em;
}
body.resources h3.no-border {
    border-top: none;
    padding-top: 0;
    margin-top: 1em;    
}


.bs-docs-sidebar.affix {
        top: 9.5em;
        position: fixed;
}

@media (min-width:768px) {
    .bs-docs-sidebar {
        padding-left: 20px
    }
}
.bs-docs-sidebar .nav>li>a {
    display: block;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 500;
}
.bs-docs-sidebar .nav li {
    list-style: none;
}
.bs-docs-sidebar .nav li a { color: #767676; }
.bs-docs-sidebar .nav li a:hover { color: #c00; }

.bs-docs-sidebar .nav>li>a:focus, .bs-docs-sidebar .nav>li>a:hover {
    padding-left: 19px;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid #563d7c
}
.bs-docs-sidebar .nav>.active:focus>a, .bs-docs-sidebar .nav>.active:hover>a, .bs-docs-sidebar .nav>.active>a {
    padding-left: 18px;
    font-weight: 700;
    color: #563d7c;
    background-color: transparent;
    border-left: 2px solid #563d7c
}
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
    font-weight: 400
}
.bs-docs-sidebar .nav .nav>li>a:focus, .bs-docs-sidebar .nav .nav>li>a:hover {
    padding-left: 29px
}
.bs-docs-sidebar .nav .nav>.active:focus>a, .bs-docs-sidebar .nav .nav>.active:hover>a, .bs-docs-sidebar .nav .nav>.active>a {
    padding-left: 28px;
    font-weight: 500
}



.columns {
    padding-top: 1em;
    color: #444;
}
.column-sep {
    border-top: 1px solid #eee;
    margin-top: 1em;
}
.columns div {
    border-left: 1px solid #eee;
}
.columns h5 {
    margin-top: 0px;
    font-family: 'Fira Sans Medium';
    line-height: 1.4em;
}
.columns div:first-child { 
    border-left: none;
}
.columns p { font-size: .85em; }

@media only screen and (max-width : 768px) {
    .column-sep { border: none; margin-top: 0em; padding-top: 0px; }
    .columns div { margin-bottom: 2em; }
    .columns div h5 { margin-bottom: 2px; }
    .columns div p { margin-top: 2px; }
}



@media only screen and (min-width : 768px) {
	.front-box { height: 13em; }
}

summary {
	font-size: 1.5em;
    font-family: Georgia, Times New Roman, Times, serif;
    margin: 1.5em 0;
}


/* mail chimp email signup */

#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both; background-color: #fff; }
#mc_embed_signup div.response {margin:0; padding: 1em;  position: absolute; bottom:0px; left: 0px; z-index:1; background-color: #fff; font-family: 'Fira Sans';}
#mc_embed_signup #mce-error-response { color: #900; ;display:none;}
#mc_embed_signup #mce-success-response { display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}


/* guide */

.big-boxes a {
  display: block;
  background-color: #fff;
  padding: 1em;
  min-height: 7em;
  text-decoration: none;
  margin-bottom: 1em;
  font: 1.25em/1.25 'Fira Sans';
  box-shadow: 2px 2px 5px #ccc;
  transition: all .5s;
}
a.grid-cell:hover,
.big-boxes a:hover {
  background-color: #fc0;
  box-shadow: 2px 2px 5px #999;
}

.kit-nav {
	margin-top: 1em;
	color: #bbb;
}
.kit-nav a {
	color: #888;
    font-family: 'Fira Sans';
}

.grid {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
	width: 100%;
	margin-bottom: 2em;
}
a.grid-cell {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 49%;
  margin: 1% 1% 0 0;	
  padding: 1em;
  background-color: #fff;
  text-decoration: none;
  font: 1.25em/1.25 'Fira Sans';
  box-shadow: 2px 2px 5px #ccc;
  transition: all .5s;
}

.pdf a {
  padding-left: 40px;
  padding-right: .5em;
  text-indent: -25px;
}



.sidebar {	
	margin-top: 3em;	
	display: none;
}
.sidebar h5 a {	
    font-family: 'Fira Sans Medium';
    color: #000;
}
.sidebar ul a {	
	color: #999;
	font-size: .9em;
}
.sidebar ul {
	list-style: none;	
	padding-left: 0;
}
.sidebar ul li {
	margin-left: 0;
}


.next-previous a {
	display: block;
  transition: all .5s;
  padding-bottom: 1em;
}
.next-previous a:hover {
  box-shadow: 2px 2px 5px #ccc;
  text-decoration: none;

}
.next-previous .slug {
	margin-top: 2em;
	padding-top: .5em;
	border-top: 1px solid #ccc;
	color: #999;
}

.chart {
	margin: 2em 0;
	padding: 1.5em;
	background-color: #fff;
	border: 1px solid #eee;	
}
.grid-cell img {
	max-height: 4em;
	width: auto;
	margin: 0 auto 1em auto;
	display: block;
}

.boilerplate li {
  margin: 1em 0;
}

@media (min-width: 576px) { 
	.sidebar {
		display: block;	
	}
	a.grid-cell {
	  width: 32%;
	  margin: 1% 1% 0 0;	
	}
}

